{{#groups}}
{{#rows}}
<div class="user {{#if online}}online{{/if}}" data-id="{{id}}" data-cid="{{cid}}"> <!-- .open-modal data-modal="profile" -->
	<div class="thumbnail js-image">
		<img src="{{avatar}}">
	</div>
	<div class="group">{{../title}}</div>
	<div class="online">{{#if online}}Online{{/if}}</div>
	<div class="info">
		<div class="name">{{first_name}}&nbsp;{{last_name}}</div>
		<div class="position">{{#if position}}{{position}}{{else}}--{{/if}}</div>
		<div class="extended hidden"><!-- Toggle for details -->
			<div class="location"><i class="material-icons">place</i> {{#if location}}{{location}}{{else}}--{{/if}}</div>
			<div class="phone"><i class="material-icons">local_phone</i> {{#if phone}}{{phone}}{{else}}--{{/if}}</div>
			<div class="email"><i class="material-icons">email</i> {{#if email}}{{email}}{{else}}--{{/if}}</div>
		</div>
		<i class="material-icons more">more_vert</i>
	</div>
</div>
{{/rows}}
{{/groups}}
{{#if empty}}
{{{include "listingEmpty"}}}
{{/if}}
