<style type="text/css">
    .section_break-content {
        line-height: 20px;
        max-width: 675px;
    }

    .section_break-content h3 {
        margin: 10px 0;
    }
</style>

{{#if inline}}
<div class="label">{{title}}</div>
<div class="section_break-content">{{{instructions}}}</div>
{{else}}
{{#if title}}<h3>{{title}}</h3>{{/if}}
{{#if instructions}}<h6>{{{instructions}}}</h6>{{/if}}
{{/if}}
