<style>
	.interface-user figure {
		margin: 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 6em;
		text-align: center;
	}
	.interface-user img {
		border-radius: 50%;
		border: 2px solid white;
		width: 100%;
	}
	.interface-user figcaption {
		margin-top: 8px;
	}
</style>

<div class="interface-user">
	{{#if user}}
	<figure>
		<img src="{{avatarUrl}}" alt="{{user.first_name}} {{user.last_name}}">
		<figcaption>{{user.first_name}} {{user.last_name}}</figcaption>
	</figure>
	<input type="hidden" placeholder="" value="{{user.id}}" name="{{name}}" id="{{name}}" readonly maxlength="11">
	{{else}}
	<span class="avatar-name medium-grey-color">{{t "no_user"}}</span>
	{{/if}}
</div>
