<div class="activity-chart">
	<div class="chart-key">180</div>
	<table class="bars">
		<tr>
			{{#each activities}}
			<td data-sum="{{total}}">
				<div class="bar-date">{{title}}</div>
				<div class="bgfiller"></div>
				<div class="bar bgpurple" data-type="files" data-total="{{files}}" title="{{files}} Files Uploaded on {{title}}"></div>
				<div class="bar bgyellow" data-type="system" data-total="{{system}}" title="{{system}} System Changes on {{title}}"></div>
				<div class="bar bgred" data-type="deleted" data-total="{{deletes}}" title="{{deletes}} Items Deleted on {{title}}"></div>
				<div class="bar bgblue" data-type="edited" data-total="{{edits}}" title="{{edits}} Items Edited on {{title}}"></div>
				<div class="bar bggreen" data-type="added" data-total="{{adds}}" title="{{adds}} Items Added on {{title}}"></div>
			</td>
			{{/each}}
		</tr>
	</table>
</div>
<div class="activity-totals">
  <div class="center">
    <div class="activity-total black">
      <h2 data-type="days">0</h2>
      <span>Days</span>
    </div>
    <div class="activity-total">
      <h2 class="" data-type="all">0</h2>
      <span>Events</span>
    </div>
    <div class="activity-total green">
      <h2 class="green" data-type="added">0</h2>
      <span>Added</span>
    </div>
    <div class="activity-total blue">
      <h2 class="blue" data-type="edited">0</h2>
      <span>Edited</span>
    </div>
    <div class="activity-total red">
      <h2 class="red" data-type="deleted">0</h2>
      <span>Deleted</span>
    </div>
    <div class="activity-total yellow">
      <h2 class="yellow" data-type="system">0</h2>
      <span>System</span>
    </div>
    <div class="activity-total purple">
      <h2 class="purple" data-type="files">0</h2>
      <span>Files</span>
    </div>
  </div>
</div>
