<p class="serious-text">{{t "warning_changes_to_columns_save_immediately"}}</p>
{{#if missingPrimaryKey}}
<p class="serious-text align-icon-text">
	<i class="material-icons missing-primary-key" title="{{t 'warning_missing_primary_key_title'}}">warning</i>
	<strong>{{missingPrimaryKeyMessage}}</strong>
</p>
{{/if}}
<div class="table-container">
	<table class="lines cozy clickable reorder-enabled">
		<thead>
			<tr>
				<th scope="col" class="reorder js-sort-toggle active"><i class="material-icons">import_export</i></th>
				<th scope="col" class="required" title="Required?"><i class="material-icons">star</i></th>
				<th scope="col" class="visible" title="Visible?"><i class="material-icons">visibility</i></th>
				<th scope="col">{{t "column_name"}}</th>
				<th scope="col">{{t "user_interface"}}</th>
				<th scope="col">{{t "relationship"}}</th>
				<th scope="col">{{t "default"}}</th>
				<th scope="col">{{t "comment"}}</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody class="drag-and-drop">
			{{#columns}}
			<tr data-id="{{id}}" class="open-modal js-row{{#if required}} required-on{{/if}}{{#if hidden_input}} visibility-off{{/if}}" data-modal="interface"> <!-- Optional Classes: selected -->
				<td class="reorder js-sort"><i class="material-icons reorder-handle">drag_handle</i></td>
				<td class="required js-required" title="Required?"><i class="material-icons">star{{#unless required}}_outline{{/unless}}</i></td>
				<td class="visible js-visible" title="Visible?"><i class="material-icons">visibility{{#if hidden_input}}_off{{/if}}</i></td>
				<td class="column-name js-cell" title="{{column_name}} – {{column_type}}" data-section="column">{{capitalize column_name}}</td>
				<td class="user-interface js-cell" data-field="ui_type" data-section="interface">{{capitalize ui}}{{#if isMissingRequiredOptions}}<i class="material-icons missing-options" title="{{t 'warning_missing_interface_options_title'}}">warning</i>{{/if}}</td>
				<td class="relationship js-cell {{#unless related_table}}js-cell-disable not-allowed{{/unless}}" data-section="column" data-sub-section="relationship">
					{{#if related_table}}
					{{capitalize relationship_type}}<br><span class="table-name">{{capitalize related_table}}</span>
					{{else}}
					<span class="no-value">{{t "relationship_none"}}</span>
					{{/if}}
				</td>
				<td class="default-value js-cell" data-field="default_value" data-section="column">
					<span class="{{#if nullOrEmptyValue}}no-value{{/if}}">{{default_value}}</span>
				</td>
				<td class="comment js-cell" data-field="comment" data-section="column" title="{{comment}}">
					<span class="{{#if emptyComment}}no-value{{/if}}">{{comment}}</span>
				</td>
				<td class="relational-remove">
					{{# if ../showRemoveButton}}<i class="material-icons js-remove">close</i>{{/if}}
				</td>
			</tr>
			{{/columns}}
		</tbody>
	</table>
</div>

<div class="button-group">
	<div class="button open-modal js-button-add" data-modal="column"><i class="material-icons">add</i> {{t "add_new_column"}}</div>
</div>
