<div class="modal-bg">
	<!-- <h1>Optional Title</h1> -->
	<h5>{{message}}</h5>
	{{#if isPrompt}}
	{{#if showInput}}<input type="text">{{/if}}
	<div class="actions">
		<button id="save" type="button" class="button">{{t "ok"}}</button>
		<button id="cancel" type="button" class="cancel">{{t "cancel"}}</button>
	</div>
	{{/if}}
	{{#if isYesNoConfirm}}
	<div class="actions">
		<button id="yesBtn" type="button" class="button">{{t "yes"}}</button>
		<button id="noBtn" type="button" class="cancel">{{t "cancel"}}</button>
	</div>
	{{/if}}
	{{#if isAlert}}
	<div class="actions">
		<button id="okBtn" type="button" class="button">{{t "ok"}}</button>
	</div>
	{{/if}}
</div>
