<style>
	.md-interface {
		position: relative;
		display: flex;
	}

	.md-interface > * {
		max-height: 80vh;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
	}

	.md-interface textarea {
		font-family: monospace;
		transition-property: box-shadow;
		height: auto;
	}

	.md-interface > div {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		display: none;
		width: 100%;
		background-color: white;
		border: 1px solid #cccccc;
		padding: 1rem;
	}

	.md-interface > div h2 {
		max-width: none;
	}

	.md-interface > div ul {
		list-style-position: inside;
	}

	.md-controls {
		margin-bottom: 1em;
	}

	{{#if always_show_preview}}
	@media screen and (min-width: 70em) {
		.md-interface {
			width: auto;
		}

		.md-controls {
			display: none;
		}

		.md-interface > div {
			display: block;
		}
	}
	{{/if}}
</style>
<div class="md-controls">
	<button class="toggle-pane" type="button" data-action="md-edit">Editor</button>
	<button class="toggle-pane" type="button" data-action="md-preview">Preview</button>
</div>
<div class="md-interface">
	<textarea rows="{{rows}}" class="md-editor" name="{{name}}" id="{{name}}" {{#if readOnly}}readonly{{/if}}>{{rawValue}}</textarea>
	<div class="md-editor-preview">{{{value}}}</div>
</div>
