{{#items}}
<div class="file" data-id="{{id}}">
	<div class="thumbnail js-image">
		<div class="extension-fallback">No Image</div>
		<img src="{{thumb}}">
	</div>
	<div class="type">{{ui model typeColumn}}</div>
	<div class="info">
		<div class="name">{{ui model titleColumn}}</div>
		<div class="uploaded">{{ui model subtitleColumn}}</div>
		<i class="material-icons more">more_vert</i>
	</div>
</div>
{{/items}}
