<style>
	.multi_selectlist-interface .gridlist {
	    list-style: none;
	    /* flex fallback */
	    display: flex;
	    flex-wrap: wrap;
	    display: grid;
	    grid-gap: 4px;
	    grid-template-columns: repeat(4, 1fr);
	}

	.multi_selectlist-interface .gridlist>li label {
	    display: flex;
	    align-items: center;
	}

	.multi_selectlist-interface input[type=checkbox] {
	    position: absolute;
	    opacity: 0;
	    z-index: -1;
	}

	.multi_selectlist-interface label {
	    margin-right: 10px;
	}

	.multi_selectlist-interface label:hover {
	    cursor: pointer;
	}

	.multi_selectlist-interface input[type=checkbox]:checked:not(:disabled)+label {
	    font-weight: 700;
	    color: #3498DB;
	}

	.multi_selectlist-interface label::before {
	    cursor: inherit;
	    color: #999;
	    font-family: 'Material Icons';
	    font-size: 24px;
	    vertical-align: -29%;
	    /* centers checkbox vertically */
	    display: inline-block;
	    margin-right: 4px;
	    width: 1em;
	    height: 1em;
	    font-feature-settings: 'liga';
	    transition: color 200ms ease-in-out;
	}

	.multi_selectlist-interface input[type=checkbox]:checked:not(:disabled)+label::before,
	.multi_selectlist-interface input[type=checkbox]:hover:not(:disabled)+label::before,
	.multi_selectlist-interface input[type=checkbox]:focus:not(:disabled)+label::before {
	    color: #3498DB;
	}

	.multi_selectlist-interface input[type=checkbox]:disabled+label {
	    opacity: 0.6;
	    cursor: not-allowed;
	}

	.multi_selectlist-interface input[type=checkbox]+label::before {
	    content: 'check_box_outline_blank';
	}

	.multi_selectlist-interface input[type=checkbox]:checked+label::before {
	    content: 'check_box';
	}

	.custom_text-interface {
	    margin-top: 1em;
	}


	.custom_text-interface h4 {
	    margin-bottom: 1em;
	}

</style>
<div class="multi_selectlist-interface">
	<ul class="gridlist">
		{{#options}}
		<li>
			<input id="multi_select_{{../name}}_{{key}}" name="{{../name}}_{{key}}" value="{{key}}" type="checkbox"
			{{#if ../readOnly}} readonly {{/if}} {{#if selected}} checked {{/if}} />
			<label for="multi_select_{{../name}}_{{key}}">{{value}}</label>
		</li>
		{{/options}}
	</ul>
	{{#if allowCustomCheckboxes}}
	{{#custom}}
	<div class="custom_text-interface">
		<h4 for="customText">Other (single item)</h4>
		<input value="{{value}}" id="customText" class="small" name="customTextInput" type="text" />
	</div>
	{{/custom}}
	{{/if}}
</div>
<div>
</div>
