<style>
	.select_list-interface .gridlist {
		list-style: none;
		/* flex fallback */
		display: flex;
		flex-wrap: wrap;

		display: grid;
		grid-gap: 4px;
		grid-template-columns: repeat(4, 1fr);
		align-items: center;
	}

	.select_list-interface .gridlist > li label {
		display: flex;
		align-items: center;
	}

	.select_list-interface input[type=checkbox],
	.select_list-interface input[type=radio] {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	.select_list-interface label {
		margin-right: 10px;
	}

	.select_list-interface label:hover {
		cursor: pointer;
	}

	.select_list-interface input[type=radio]:checked:not(:disabled) + label {
		font-weight: 700;
		color: #3498DB;
	}

	.select_list-interface label::before {
		cursor: inherit;
		color: #999;
		font-family: 'Material Icons';
		font-size: 24px;
		vertical-align: -29%; /* centers checkbox vertically */
		display: inline-block;
		margin-right: 4px;
		width: 1em;
		height: 1em;
		font-feature-settings: 'liga';
		transition: color 200ms ease-in-out;
	}

	.select_list-interface input[type=radio]:checked:not(:disabled) + label::before,
	.select_list-interface input[type=radio]:hover:not(:disabled) + label::before,
	.select_list-interface input[type=radio]:focus:not(:disabled) + label::before {
		color: #3498DB;
	}

	.select_list-interface input[type=radio]:disabled + label {
		cursor: not-allowed;
		opacity: 0.6;
	}

	.select_list-interface input[type=radio] + label::before {
		content: 'radio_button_unchecked';
	}

	.select_list-interface input[type=radio]:checked + label::before {
		content: 'radio_button_checked';
	}

	.select_list-interface input[type=text] {
		border: 0;
		background-color: transparent;
		border-bottom: 1px solid #999999;
		border-radius: 0;
		padding: 6px;
	}

	.select_list-interface input[type=text]:focus {
		box-shadow: none;
		border-color: #3498db;
	}
</style>

<div class="select_list-interface">
	<ul class="gridlist">
	{{#options}}
		<li>
			<input type="radio" name="{{../name}}" value="{{key}}" id="radio-{{../name}}-{{key}}" {{#if selected}}checked{{/if}} {{#if readOnly}}readonly{{/if}}>
			<label class="radiobuttons" for="radio-{{../name}}-{{key}}">{{value}}</label>
		</li>
	{{/options}}
	{{#if allow_custom}}
		<li>
			<input type="radio" name="{{../name}}" {{#if valueIsCustom}}value="{{value}}" checked{{/if}} id="radio-{{../name}}-custom" {{#if selected}}checked{{/if}} {{#if readOnly}}readonly{{/if}}>
			<label class="radiobuttons" for="radio-{{../name}}-custom"><input type="text" {{#if valueIsCustom}}value="{{value}}"{{/if}} name={{../name}}-custom" placeholder="Other..." {{#if readOnly}}readonly{{/if}} /></label>
		</li>
	{{/if}}
	</ul>
</div>
