<input type="text" id="tag-input" {{#if placeholder}}placeholder="{{placeholder}}"{{/if}} {{#if readOnly}}readonly{{/if}}>
<div class="tag-container">
	{{#tags}}<div class="tag">{{this}}</div>{{/tags}}
</div>
<input type="hidden" value="{{value}}" name="{{name}}" id="{{name}}">
