<tr>
	{{#if showItemNumbers}}
	<th scope="col"></th>
	{{/if}}
	{{#if sortable}}
	<th scope="col" class="reorder js-sort-toggle"><i class="material-icons">import_export</i></th>
	{{/if}}
	{{#if selectable}}
	<th scope="col" class="status js-check">
		<input class="custom-checkbox js-select-all-row" id="checkAll" type="checkbox" value="" {{#if checkedAll}} checked="checked"{{/if}}/>
		<label for="checkAll"><span></span></label>
	</th>
	{{/if}}
	{{#columns}}
	<th scope="col" class="sortable-column" data-id="{{name}}">
		{{{capitalize name}}}
		{{#if orderBy}}
			<i class="material-icons order-direction">arrow_{{#if desc}}down{{else}}up{{/if}}ward</i>
		{{/if}}
	</th>
	{{/columns}}
	<td class="status-badges">
		{{#ifShowStatusBadge model}}<div class="status-badge" style="background-color:{{statusBackgroundColor model}};color:{{statusTextColor model}};">{{statusName model}}</div>{{/ifShowStatusBadge}}
	</td>
	{{#if showMoreButton}}
	<th scope="col" class="right-sidebar-toggle js-more"><i class="material-icons">more_horiz</i></th>
	{{/if}}
	{{#if showRemoveButton}}
	<th scope="col"></th>
	{{/if}}
</tr>
