<input id="search-input" class="general js-search" type="text" value="{{searchString}}" placeholder="{{resultCount}} {{#if hasFilters}}{{t 'filtered_items'}}{{else}}{{t 'loaded_items'}}{{/if}}…">
<i class="material-icons search">search</i>
{{#if hasFilters}}<i class="material-icons clear js-search-clear">close</i>{{/if}}
<i class="material-icons filter-dropdown-toggle js-toggle">arrow_drop_down</i>
<div class="filter-dropdown">
		{{#if statusColumn}}
		<h3>Status</h3>
		{{#statuses}}
		<div class="status-toggle">
				<input class="custom-checkbox select-row js-status-check" id="check-status-{{value}}" type="checkbox" value="{{value}}" {{#if selected}}checked{{/if}}>
				<label for="check-status-{{value}}"><span></span> {{name}}</label>
		</div>
		{{/statuses}}

		<hr>
		{{/if}}

	{{#if states}}
	<h3>{{stateName}}</h3>
	{{#states}}
	<div class="status-toggle">
		<input class="custom-checkbox select-row js-state-check" id="check-state-{{value}}" type="checkbox" value="{{value}}" {{#if selected}}checked{{/if}}>
		<label for="check-state-{{value}}"><span></span> {{name}}</label>
	</div>
	{{/states}}

	<hr>
	{{/if}}

		<h3>{{t 'header_new_filter'}}</h3>
		<div class="select-container add-column-filter">
				<select name="type" class="medium adv-search-col-id">
						<option value="">{{t "widget_filter_add_filter"}}</option>
						{{#tableColumns}}
						<option value="{{this}}">{{capitalize this}}</option>
						{{/tableColumns}}
				</select>
				<i class="material-icons select-arrow">arrow_drop_down</i>
		</div>

		<div class="filters">
				{{#filters}}
				<div class="column-filter js-column" data-filter-id-master="{{columnName}}">
						<h3 data-filter-id="{{columnName}}">{{capitalize columnName}}</h3>
						<!-- <input type="text" placeholder="" value="%test"> -->
						{{#if relatedEntries}}
						<span class="simple-select dark-grey-color">
								<span class="icon icon-triangle-down"></span>
								<select name="keywords" id="advKeywords" class="medium filter_ui">
									<option value="" disabled>Choose one</option>
								{{#relatedEntries}}
									<option value="{{this.visible_column}}"{{#if selected}} selected{{/if}}>{{{this.visible_column_template}}}</option>
								{{/relatedEntries}}
								</select>
						</span>
						{{else}}
						{{{filter_ui}}}
						{{/if}}
						<i class="material-icons remove-filter js-remove">close</i>
				</div>
				{{/filters}}
		</div>
</div>
