{% extends "base.twig" %}

{% block bodyClass %}login{% endblock %}

{% block login %}

<div class="login-panel">
	<!-- <h1>Project Name</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
	<form action="{{rootUrl}}api/1.1/auth/login" method="post" class="login-box" autocomplete="off">
		<div class="input">
			<i class="material-icons focus-color">person</i>
			<input name="email" type="email" class="email" placeholder="Email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
		</div>
		<div class="input">
			<i class="material-icons focus-color">lock</i>
			<input name="password" type="password" class="password" placeholder="Password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
		</div>
		<button type="submit" class="button">Log In</button> <!-- Optional Class: disabled -->
		{% if authList %}
		<div class="hr-label">
			<hr>
			<hr>
			<div class="label">or</div>
		</div>
		<div class="alt-auth">
			{% for service in authList %}
			<div class="tile {{service}}"><a href="{{rootUrl}}auth/{{service}}"><img src="{{assetsRoot}}imgs/login-logo-{{service}}.svg"></a></div>
			{% endfor %}
		</div>
		{% endif %}
		<div id="forgot-password" class="forgot">Forgot Password</div>
	</form>
</div>

<div class="processing"><div class="loading-container"><div class="loading-bar"></div></div></div>

<div class="glow"></div>

<div class="notifications">
	<div class="notification {% if errorMessage %}serious{% endif %}" {% if not errorMessage %}style="display: none;"{% endif %}>
		{% if errorMessage %}<i class="material-icons">warning</i> {{errorMessage}}{% endif %}
	</div>
</div>

<!-- We'd appreciate this remaining visible to users. -->
<a href="http://getdirectus.com" class="directus" title="{{version}} – {{buildNumber}}">Powered by Directus</a>

{% endblock %}

{% block login_script %}
<script type="text/javascript" src="{{assetsRoot}}js/libs/jquery.js"></script>
{# make this a separate file #}
<script type="text/javascript">
	$(function () {
		var $login_message = $('.notification');

		function message(message, error) {
			error = error || false;
			if (error) {
				$login_message.addClass('serious');
			} else {
				$login_message.removeClass('serious');
			}

			$login_message.html("<i class=\"material-icons\">warning</i>" + message);
			$login_message.show();
		}

		{% if inactive %}
		message("{{'logged_out_due_to_inactivity'|trans}}", false);
		{% endif %}

		function clear_messages() {
			$login_message.hide();
		}

		$('.login-box input').bind('focus', function (e) {
			$('.focus-color').removeClass('active');
			$(this).siblings('.focus-color').addClass('active');
		}).bind('blur', function (e) {
			$('.focus-color').removeClass('active');
		});

		$('#forgot-password').bind('click', function (e) {
			e.preventDefault();
			clear_messages();

			var $form = $(this).closest('form'),
				email = $.trim($form.find('input[name=email]').val());

			if (email.length == 0) {
				message("{{'enter_a_valid_email_address'|trans}}", true);
				return false;
			}

			if (confirm("{{'are_you_sure_you_want_to_reset_your_password'|trans}}")) {
				$.ajax('{{rootUrl}}api/1.1/auth/forgot-password', {
					data: {email: email},
					dataType: 'json',
					type: 'POST',
					success: function (data, textStatus, jqXHR) {
						if (!data.success) {
							var errorMessage = "{{'oops_an_error_occurred'|trans}}";
							if (data.error.message) {
								errorMessage = data.error.message;
							}
							message(errorMessage, true);
							return;
						}

						message("{{'reset_instructions_have_been_sent'|trans}}")
					},
					error: function (jqXHR, textStatus, errorThrown) {
						message("{{'server_error_occurred'|trans}}", true);
					}
				});
			}
		});

		$('form').bind('submit', function (e) {
			e.preventDefault();
			clear_messages();

			var email = $.trim($(this).find('input[name=email]').val()),
				password = $.trim($(this).find('input[name=password]').val());

			if (email.length == 0 || password.length == 0) {
				return message("{{'enter_your_email_and_password'|trans}}", true);
			}

			// Disable form during processing
			$('.processing').addClass('blocking').addClass('fading');
			$('.processing .loading-bar').addClass('step-1');

			$.ajax('{{rootUrl}}api/1.1/auth/login', {
				data: {email: email, password: password},
				dataType: 'json',
				type: 'POST',
				success: function (data, textStatus, jqXHR) {
					var defaultPath = 'users';
					var redirectPath = '{{redirectPath}}';
					var lastPage = data.last_page;
					var lastPagePath = lastPage ? lastPage.path : '';
					var path = redirectPath || lastPagePath || defaultPath;

					$('.processing .loading-bar').removeClass('step-1').addClass('step-2');

					if (!data.success) {
						$('.processing').removeClass('blocking').removeClass('fading');
						$('.processing .loading-bar').removeClass('step-1').removeClass('step-2');
						message(data.error.message, true);
						return;
					}

					// $('.login-box').css('opacity', 0);
					window.location = "{{rootUrl}}" + path;
				},
				error: function (jqXHR, textStatus, errorThrown) {
					$('.processing').removeClass('blocking').removeClass('fading');
					$('.processing .loading-bar').removeClass('step-1').removeClass('step-2');
					message("{{'server_error_occurred'|trans}}", true);
				}
			});
		});
	});
</script>
{% endblock %}
