{% extends "mail/base.twig" %}
{% block content %}

<p>{{ t('Hey there') }},</p>

<p>{{ t('Here is a temporary password to access Directus:') }}</p>

<p>{{ new_password }}</p>

<p>{{ t('Once you log in, you can change your password via the User Settings menu.') }}</p>

<p>{{ t('Love,') }}<br>Directus</p>

{% endblock %}
