{% extends "mail/base.twig" %}
{% block content %}



&ldquo;{{ message }}&rdquo;<br><br>
<span style="color:#aaaaaa;">—{{ sender.first_name }} {{ sender.last_name }}</span><br>
<a href="{{ settings.global.project_url }}messages/{{ message_id }}" style="font-size:12px;letter-spacing:0.3px;font-style:italic;">View full message</a>

{% endblock %}
