{% extends "mail/base.twig" %}
{% block content %}

<p>{{ t('Hey there') }},</p>

<p>{{ t('You requested to reset your password, here is your reset password link:') }}</p>

{% set reset_url = settings.global.project_url|trim('/') ~ '/api/1.1/auth/reset-password/' ~ reset_token %}
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>

<p>{{ t('Love,') }}<br>Directus</p>

{% endblock %}
