<!doctype html>
<html lang="en">

    {% include 'partials/html_head.twig' %}

<body>

    <div class="modal">

        {% include 'partials/header.twig' %}

        <form method="post" action="{{ directus.root_path }}installation/index.php?step={{ directus.current_step }}">

            {% block content %}{% endblock %}

            <div class="buttons">
                <a href="{{ directus.root_path }}installation/index.php?step={{ directus.current_step - 1 }}" class="{{ directus.current_step > 1 ? '' : ' hide' }}">
                    <button type="button" class="button back-button">{{ 'Back'|t }}</button>
                </a>
                <button type="submit" class="button primary disabled">{{ 'Next'|t }}</button>
            </div>
        </form>
    </div>

    {% include 'partials/footer.twig' %}

</body>
</html>
