{% extends 'base.twig' %}

{% block content %}
<div class="container step-3">
    {% include 'partials/warnings.twig' %}
    {% include 'partials/errors.twig' %}
    <h3>{{ 'Project Configuration'|t }}</h3>
    <table>
        <tbody>
        <tr>
            <td class="item">{{ 'Project Name'|t }}</td>
            <td class="result">{{ directus.data.getSafe('directus_name') }}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Admin Email'|t }}</td>
            <td class="result"><span>{{ directus.data.getSafe('directus_email') }}</span>
            </td>
        </tr>
        <tr>
            <td class="item">{{ 'Admin Password'|t }}</td>
            <td class="result">***</td>
        </tr>
        </tbody>
    </table>

    <h3>{{ 'Database Configuration'|t }}</h3>
    <table>
        <tbody>
            <tr>
                <td class="item">{{ 'Database'|t }}</td>
                <td class="result">{{ directus.data.getSafe('db_type') }}</td>
            </tr>
            <tr>
                <td class="item">{{ 'Host Name'|t }}</td>
                <td class="result">{{ directus.data.getSafe('db_host') }}</td>
            </tr>
            <tr>
                <td class="item">{{ 'Port'|t }}</td>
                <td class="result">{{ directus.data.getSafe('db_port') }}</td>
            </tr>
            <tr>
                <td class="item">{{ 'Username'|t }}</td>
                <td class="result"><span>{{ directus.data.getSafe('db_user') }}</span></td>
            </tr>
            <tr>
                <td class="item">{{ 'Password'|t }}</td>
                <td class="result">***</td>
            </tr>
            <tr>
                <td class="item">{{ 'Database Name'|t }}</td>
                <td class="result">{{ directus.data.getSafe('db_name') }}</td>
            </tr>
            <tr>
                <td class="item">{{ 'Schema'|t }}</td>
                <td class="result">{{ directus.data.getSafe('db_schema') ? directus.data.getSafe('db_schema') : 'none' }}</td>
            </tr>
        </tbody>
    </table>

    <h3>{{ 'Pre-Installation Check'|t }}</h3>
    <table>
        <tbody>
        <tr>
            <td class="item">{{ 'PHP Version'|t }} >= 5.6.0</td>
            <td class="result"><span class="label label-success">{{ 'Yes'|t }}</span></td>
        </tr>
        <tr>
            <td class="item">{{ 'Database Support'|t }}</td>
            <td class="result"><span class="label label-success">{{ 'Yes'|t }}</span></td>
        </tr>
        <tr>
            <td class="item">{{ 'Composer Dependencies Installed'|t }} <span class="subdued">(../api/composer.json)</span></td>
            <td class="result">{% if file_exists('../vendor/autoload.php') %}
                    <span class="label label-success">{{ 'Yes'|t }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No.'|t }}</span><a href="http://getdirectus.com/docs/developer/installation" target="_blank"> ?</a>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Migration Config'|t }}</td>
            <td class="result">{% if file_exists('../api/ruckusing.conf.php') and filesize('../api/ruckusing.conf.php') > 0 %}
                    <span class="label label-success">{{ 'Yes'|t }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No'|t }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'GD Library Support'|t }}</td>
            <td class="result"><span class="label label-success">{{ 'Yes'|t }}</span></td>
        </tr>
        <tr>
            <td class="item">{{ 'Imagick PHP Extension (Optional)'|t }}<div class="second-line">{{ 'Adds TIFF/PSD/PDF Thumbnail Support'|t }}</div></td>
            <td class="result">{% if extension_loaded('imagick') %}
                    <span class="label label-success">{{ 'Yes'|t }}</span>
                {% else %}
                    <span class="label label-success">{{ 'No'|t }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Mod_Rewrite Enabled'|t }} (<a href="http://getdirectus.com/docs/developer/faq"
                                                                    target="_blank" class="underline">{{ 'Learn More'|t }}</a>)
            </td>
            <td class="result">{% if ping_server() %}
                    <span class="label label-success">{{ 'Yes'|t }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No'|t }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Logs Directory Writable'|t }} <span class="subdued">(../api/logs/)</span></td>
            <td class="result">{% if is_writable('../api/logs') %}
                    <span class="label label-success">{{ 'Yes'|t }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No'|t }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">
                {{ 'Media Directory Writable'|t }} <span class="subdued">(/storage/uploads)</span>
                {% if not is_writable('../storage/uploads') %}
                <div class="second-line">{{ "The default upload directories are either missing or don't have write permission. You can add these directories/permissions on your server or update the directus_storage_adapters table with new paths."|t }}</div>
                {% endif %}
            </td>
            <td class="result">{% if is_writable('../storage/uploads') %}
                    <span class="label label-success">{{ 'Yes'|t }}</span>
                {% else %}
                    <span class="label label-important">{{ 'No'|t }}</span>
                {% endif %}</td>
        </tr>
        <tr>
            <td class="item">{{ 'Config File Writable'|t }} <span class="subdued">(../api/config.php)</span></td>
            <td class="result">{% if is_writable('../api') %}
                    {% set showConfig = false %}
                    <span class="label label-success">{{ 'Yes'|t }}</span>
                {% else %}
                    {% set showConfig = true %}
                    <span class="label label-important">{{ 'No'|t }}</span>
                {% endif %}</td>
        </tr>
        </tbody>
    </table>

    {% if showConfig %}
        {% set configContent = directus.data.get() %}
        {% set configText = createConfigFileContent(configContent) %}
        <span class='config-paste label label-important'>{{ 'Manually copy the code below into'|t }} ../api/config.php</span><br><textarea readonly>{{ configText|t }}</textarea><span id='failSpan'><button id='retryButton' class='button no-t-margin'>{{ 'Check Config File'|t }}</button></span>
    {% endif %}
</div>
{% endblock %}
