{% extends 'base.twig' %}

{% block content %}

{% import 'macros/error_codes.twig' as code %}
{% set code = code.getErrorCode(directus.step.getResponse.getErrors()) %}

<div class="container">
    {% include 'partials/errors.twig' %}
    <label for="db_type">{{ 'Database Type'|t }}
        <div class="select-container">
            <select name="db_type" id="db_type">
                {% for dbType in directus.step.getSafeData('db_types') %}
                    <option
                        value="{{ dbType.id }}" {{ directus.step.getSafeData('db_type') and directus.step.getSafeData('db_type') == dbType.id ? 'selected' : '' }}> {{ dbType.name|t }}</option>
                {% endfor %}
            </select>
            <i class="material-icons select-arrow">arrow_drop_down</i>
        </div>
    </label>
    <div>
        <div class="input-left">
            <label for="db_host">{{ 'Host'|t }}
            <input type="text" id="db_host" placeholder="eg: localhost"
                {% if code == '2002' %}
                class="error";
                {% endif %}
                name="db_host"
                value="{{ directus.step.getSafeData('db_host') ? directus.step.getSafeData('db_host') : 'localhost' }}"
                autofocus></label><br>
        </div>
        <div class="input-right">
            <label for="db_port">{{ 'Port'|t }}
            <input type="number" id="db_port" placeholder="3306" min="0"
                max="99999"
                {% if code == '2002' %}
                class="error"
                {% endif %}
                name="db_port"
                value="{{ directus.step.getSafeData('db_port') ? directus.step.getSafeData('db_port') : '3306' }}"></label><br>
        </div>
    </div>
    <label for="db_user">{{ 'User'|t }}
    <input type="text" id="db_user"
        placeholder="With access/modify privileges"
        {% if code == '1045' or code == '1044' %}
        class="error"
        {% endif %}
        name="db_user"
        value="{{ directus.step.getSafeData('db_user') ? directus.step.getSafeData('db_user') : '' }}"></label><br>
    <label for="db_password">{{ 'Password'|t }}
    <input type="password" id="db_password" placeholder=""
        {% if code == '1045' or code == '1044' %}
        class="error"
        {% endif %}
        name="db_password"
        value="{{ directus.step.getSafeData('db_password') ? directus.step.getSafeData('db_password') : '' }}"></label><br>
    <label for="db_name">{{ 'Database Name'|t }}
    <input type="text" id="db_name" placeholder=""
        {% if code == '1049' %}
        class="error"
        {% endif %}
        name="db_name"
        value="{{ directus.step.getSafeData('db_name') ? directus.step.getSafeData('db_name') : '' }}"></label><br>
    <label for="db_schema">{{ 'Initial Schema'|t }}
        <div class="select-container">
            <select name="db_schema" id="db_schema">
                <option value="">{{ 'None Clean Database'|t }}</option>
                {% for dbSchema in directus.step.getSafeData('db_schemas') %}
                    <option
                        value="{{ dbSchema.id }}" {{ directus.step.getSafeData('db_schema') and directus.step.getSafeData('db_schema') == dbSchema.id ? 'selected' : '' }}>{{ dbSchema.name|t }}</option>
                {% endfor %}
            </select>
            <i class="material-icons select-arrow">arrow_drop_down</i>
        </div>
    </label>
</div>
{% endblock %}
