{% extends 'base.twig' %}

{% block content %}
    <div class="container">
        {% include 'partials/errors.twig' %}
        <label for="directus_name">{{ 'Project Name'|t }}<input type="text" id="directus_name"
            name="directus_name"
            placeholder="{{ 'eg: My Project Name'|t }}"
            value="{{ directus.step.getSafeData('directus_name') ? directus.step.getSafeData('directus_name') : '' }}"
            autofocus></label><br>
        <label for="directus_email">{{ 'Admin Email'|t }}<input type="email" id="directus_email"
            name="directus_email"
            placeholder="{{ 'eg: admin@example.com'|t }}"
            value="{{ directus.step.getSafeData('directus_email') ? directus.step.getSafeData('directus_email') : '' }}"></label><br>
        <label for="directus_password">{{ 'Admin Password'|t }}<input type="password" id="directus_password"
            name="directus_password"
            value="{{ directus.step.getSafeData('directus_password') ? directus.step.getSafeData('directus_password') : '' }}"></label><br>
        <label for="directus_password_confirm">{{ 'Confirm Admin Password'|t }}<input type="password"
            id="directus_password_confirm"
            name="directus_password_confirm"
            value="{{ directus.step.getSafeData('directus_password_confirm') ? directus.step.getSafeData('directus_password_confirm') : '' }}"></label><br>
    </div>
{% endblock %}
