<h1>{{permission}} Access</h1>
<table class="lines cozy">
	<thead>
		<tr>
			<th class="permissions">{{permission}}</th>
			<th class="field-note">{{t "column"}}</th>
		</tr>
	</thead>
	<tbody>
		{{#columns}}
		<tr class="" data-column="{{column_name}}">
			<td class="status" data-value="{{name}}">
				<!-- <span class="toggle-switch {{#if read}}on has-privilege{{/if}}"></span> -->
				<input class="custom-checkbox js-select-column" id="check_c_{{ascii column_name}}" type="checkbox" value="" {{#unless blacklisted}}checked{{/unless}}>
				<label for="check_c_{{ascii column_name}}"><span></span></label>
			</td>
			<td><span class="label" data-for="check_c_{{ascii column_name}}">{{column_name}}</span></td>

			<!--
			<td data-value="write">
				<span class="toggle-switch {{#if write}}on has-privilege{{/if}}"></span>
			</td>
			-->
		</tr>
		{{/columns}}
	</tbody>
</table>
