<div class="details">
	<a href="#" class="js-user" data-id="{{from}}"><img class="avatar" src="{{userAvatarUrl from}}" data-id="{{from}}"></a>
	<div class="from"><a href="#" class="js-user" data-id="{{from}}">{{userFirstAndLastName from}}</a></div>
	<!-- <div class="timeago">{{friendlyDateTime datetime}}</div> -->
	<div class="timeago" title="{{fullDateTime datetime}}">{{contextualDate datetime type="long"}}</div>
	<h1>{{subject}}</h1>
	<div class="to">{{t "message_to"}}: {{usersFirstAndLastName recipients}}</div>
</div>

<div>
	<div class="body">
		{{message}}
	</div>

	{{# if attachment}}
	<div class="attachments">
		{{#attachment}}
		<div class="file js-file" data-id="{{id}}">
			{{#if html}}
			{{{html}}}
			{{else}}
			<div class="thumbnail js-image">
				<div class="extension-fallback">{{ucase type}}</div>
				<img src="{{thumbnail_url}}">
			</div>
			{{/if}}
			<div class="type">{{type}}</div>
			<div class="info">
				<div class="name js-title">{{title}}</div>
				<div class="uploaded" title="{{fullDateTime date_uploaded}}">{{contextualDate date_uploaded}}</div>
			</div>
		</div>
		{{/attachment}}
	</div>
	{{/if}}

	{{#if reads}}
	<div class="seen">
		<i class="material-icons">visibility</i> {{usersFirstAndLastName reads}}
	</div>
	{{/if}}
</div>

{{#each responses}}
<div id="message_content_{{id}}" class="response">
	<div class="details">
		<img class="avatar js-user" data-id="{{from}}" src="{{userAvatarUrl from}}">
		<div class="from js-user" data-id="{{from}}">{{userFirstAndLastName from}}</div>
		<div class="timeago" title="{{fullDateTime datetime}}">{{contextualDate datetime type="long"}}</div>
		<!-- <div class="timeago">{{friendlyDateTime datetime}}</div> -->
	</div>
	<div class="body">
		{{message}}
	</div>

	{{# if attachment}}
	<div class="attachments">
		{{#attachment}}
		<div class="file js-file" data-id="{{id}}">
			{{#if html}}
			{{{html}}}
			{{else}}
			<div class="thumbnail js-image">
				<div class="extension-fallback">{{ucase type}}</div>
				<img src="{{thumbnail_url}}">
			</div>
			{{/if}}
			<div class="type">{{type}}</div>
			<div class="info">
				<div class="name js-title">{{title}}</div>
				<div class="uploaded" title="{{fullDateTime date_uploaded}}">{{contextualDate date_uploaded}}</div>
			</div>
		</div>
		{{/attachment}}
	</div>
	{{/if}}

	{{#if reads}}
	<div class="seen">
		<i class="material-icons">visibility</i> {{usersFirstAndLastName reads}}
	</div>
	{{/if}}
</div>
{{/each}}
