<style>
	.char-count {
		margin: 0 1em;
		transition: opacity 200ms ease-in-out 0ms;
	}

	.char-count.hide {
		opacity: 0;
	}
</style>

<div class="char-count-container {{size}}">
	<input {{#if autoSize}}style="width: {{maxLength}}ch;"{{/if}} type="text" placeholder="{{placeholder}}" value="{{value}}" name="{{name}}" id="{{name}}" maxLength="{{maxLength}}" class="{{size}}" {{#if readOnly}}readonly{{/if}}/>
	{{#if showCharacterCount}}
	<span class="char-count hide">{{charsLeft}}</span>
	{{/if}}
</div>
