<style>
	.{{table}}.status-group {
		display: flex;
		align-items: stretch;
		align-content: center;
		width: 400px;
		width: -webkit-max-content;
		width: max-content;
	}

	.{{table}}.status-group input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	.{{table}}.status-group label {
		cursor: pointer;
		color: #999;
		padding: 1em;
		text-align: center;
		font-size: 1rem;
		font-weight: 500;
		transition: 250ms ease-in-out;
		margin-right: 2px;
		background-color: #ddd;
		position: relative;
		min-width: 140px;
	}

	.{{table}}.status-group label:hover {
		color: #3598db;
	}

	.{{table}}.status-group label:first-of-type {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.{{table}}.status-group label:last-of-type {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.{{table}}.status-group input:checked + label {
		background-color: #3598db;
		color: #fff;
	}

	.{{table}}.status-group input:checked + label::before {
		content: 'check';
		font-family: 'Material Icons';
		display: inline-block;
		vertical-align: -12%;
		margin-right: 5px;
	}

	/*{{#statuses}}
	.{{table}}.status-group input#{{name}}:checked + label {
		background-color: {{background_color}};
		color: {{text_color}};
	}
	{{/statuses}}*/
</style>

<div class="{{table}} status-group">
	{{#statuses}}
	<input id={{identifier}} type="radio" {{#if ../readonly}}disabled{{/if}} name="{{../name}}" value="{{id}}" {{#if selected}}checked{{/if}} />
	<label for={{identifier}}>{{name}}</label>
	{{/statuses}}

	<input type="radio" name="{{name}}" value="{{value}}" style="display:none;">
</div>
